*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("lav-logo2.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    padding: 6px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white
}

/* box2 */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(252, 3, 77,1);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(252,3,77,1);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.nav-search:hover {
    border: 2px solid rgba(252,3,77,1)
}
/** box4 **/
span {
    font-size: o.7rem;
}

.nav-second {
    font-size: 0.85;
    font-weight: 700;
}


/** box6 **/
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/** panel **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/*------------------ Slider Css -----------------*/
.container{
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    position: absolute;
    top: 100px;
    color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}